@{
    ViewData["Title"] = "Gerador de Rotas";
}

<div class="text-center">
    <h1 class="display-2">Bem Vindo</h1>
    <h2 class="display-6">Gerador de Rotas</h2>
    <a asp-area="" asp-controller="Pessoas" asp-action="Index">Cadastrar Pessoa</a><br />
    <a asp-area="" asp-controller="Equipes" asp-action="Index">Cadastrar Equipe</a><br />
    <a asp-area="" asp-controller="Cidades" asp-action="Index">Cadastrar Cidade</a><br />
</div>
